*, h1, h2, h3, h4, h5, h6, p, a, .button, ul {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 20px 0;
  color:inherit;
}



h1, h2, h3 {
  color: #5A672D;
}

a {
  color:#9AC13C;
  font-weight: bold;
}

a:hover {
  color:#748F3B;
}


audio {
  min-width: 100%;
  max-width: 100%;
}

img.full-width {
  width:100%;
}

hr {
  border-color: #061c25;
  border-width: 1px;
}

.menu-icon{
	background:none;
}

button, .button {
	background: #9AC13C;
}

button:hover, .button:hover {
	background: #748F3B;
}

button:focus, .button:focus {
	background:#9AC13A;
}

/*NAVIGATION*/


.off-canvas {
	background: #748F3B;
}


/*CONTENT*/

blockquote {
  border:none;
  background:#dad0d0;
  padding:15px;
  color:#441212;
  font-size: 18px;
  float:right;
}

blockquote cite {
  color:#441212;
  font-size: 16px;
}

.spacer {
	padding-bottom: 30px;
}

.caption {
	font-size: 12px;
	font-style: italic;
	padding-bottom: 25px;
}


.thumbnail:focus, .thumbnail:hover {
	box-shadow: 0 0 6px 1px rgba(125,125,125,.3);
}


/*FOOTER*/


footer {
  padding-top: 600px;
  background-color: white;
  color: white;
}
